*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body{

	font-family: 'Josefin Sans', sans-serif;
	background-color: #F0F8FF;
	width: 100%;
	height: 100vh;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#nav_bar{
			display: flex;
			justify-content: space-around;
			align-items: center;
			background-color: rgba(128,128,128,0.5);
			width: 100%;
			height: 100px;
			flex-wrap: wrap;
			overflow: auto;
		}

		#nav{
			display: flex;
			justify-content: space-around;
			align-items: center;
		}

		#nav a{
			text-decoration: none;
		}

		#nav li{
			list-style: none;
		}

		#threebars{
			font-size: 3vh;
			color: blue;
			
		}

		#nav h3{
			color: #008B8B;
		}

		@media (max-width: 720px){

			#nav_bar p{
			font-size: 4vh;
			
		}

		}

		@media (max-width: 560px){

			#nav_bar p{
			font-size: 4.5vh;
			
		}

		}



		#nav_bar p:hover{
			cursor: pointer;
		}


#mobile{
	width: 100%;
	height:50vh;
	display: none;
	background-color: grey;
	box-sizing: border-box;
	position: relative;
	
}

#mobile_nav h3{
	text-align: center;
	
}


#mobile_nav a{
	text-decoration: none;
}
#cross{
	position: absolute;
	right: 1.2vw;
	top: 1.4vh;
	color: blue;
}
#mobile_nav{
	width: 100%;
	display: block;


}

#mobile li{
	list-style: none;
	color: white;
	margin: 35px 0;
	padding: 10px 0;
}


#mobile li:hover{
	background-color: #8FBC8F;
}

#cross{
	font-size: 130%;

}

#cross:hover{
	cursor: pointer;
}

#logo img{
	width: 300px;
	height: 70px;
}


@media (max-width: 720px){
			#logo img{
	width: 200px;
	height: 50px;
}
}

@media (max-width: 400px){
			#logo img{
	width: 150px;
	height: 35px;
}
}


		@media (max-width: 1080px){
			#nav li {
				display: none;
			}
			
			#mobile_nav li{
	margin: 5vh 0;
	padding: 3vh 0;
}
			
			
			#cross{
	right: 2vw;
	top: 1vh;
	color: blue;
	font-size:200%;			
}
		}

		@media (min-width: 1081px){
			#nav_bar p{
				display: none;
			}

			#nav li{
				 margin: 0 1.5vw;
			}
		}

.services{
	width: 100%
	height:100vh;
}

.topsec{
	text-align: center;
	margin-top: 130px;
	font-weight: bolder;
	letter-spacing: 2px;
	word-spacing: 1px;
}

.bottomsec{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
}


		#main_footer{
			width: 100%;
			height: 90vh;
			background-color: #28282B;
		}
		#child_footer{
			display: flex;
			align-items: center;
			justify-content:space-around;
			padding: 10vh 0;
			flex-wrap: wrap;
			
		}

		#child_footer section{
			width: 300px;
			height: 40vh;
		}

		#child_footer section li{
			list-style: none;
			border-bottom: thin dashed grey;
			padding: 8px 0;
			color: grey;
			font-size: 90%;
			line-height: 140%;
		}

		#child_footer section h3{
			color: white;
			letter-spacing: 1px;
		}

		#child_footer section a{
			text-decoration: none;
		}

#jbp1{
	margin-left: 21px;
}

#jbp2{
	margin-left: 21px;
}

#add{
	color: white;
	font-weight: normal;
	letter-spacing: 1px;
}

#add_ress{
	color:grey;
	font-size: 90%;
}

#mo_num{
	color: white;
	font-size: 120%;
}

#e_id{
	color: white;
	font-size: 120%;
}

#foot_des p{
	text-align: center;
	color: grey;
	font-size: 90%;
	text-transform: uppercase;
	border-bottom: 0.1px solid grey;
	padding-bottom: 12px;
}

#call_num{
	color:#87CEFA;
}

#send_mail{
	color: #87CEFA;
}

#c_right p{
 color: grey;
}
#hi_rt a{
	color: #87CEFA;
	text-decoration: none;
}

#hi_rt a:hover{
	color: #00BFFF;
}

#foot_end{
	width: 100%;
	height:22vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#add_links li{
	display: inline-block;
	justify-content: space-between;
	align-items: center;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 90%;
	letter-spacing:0.1px;
}

#add_links a{
	text-decoration: none;
}

#add_links li{
	list-style: none;
	color: grey;
}

@media (max-width: 1080px){

	#main_footer{
		height: auto;
	}

	#child_footer section{
        width: 80%;
        height: auto; 
        padding: 3vh 0;   
	}

	#child_footer section li{
		font-size: 150%;
		padding: 15px 0;
		line-height: 150%;
	}

	#child_footer{
		padding: 3vh 0;
	}

	#child_footer section h3{
		font-size: 150%;
	}

	#child_footer section p{
		font-size: 150%;
	}

	#child_footer section h4{
		font-size: 150%;
	}

	#mo_num{
	font-size: 150%;
}

#e_id{
	font-size: 150%;
}

     #foot_des p{
       font-size: 150%;
     }

     #foot_end{
     	height: 10vh;
     	display: block;
     }

     #c_right{
     	margin-top: 5.5vh;
     	margin-bottom: 3vh;
     }

     #c_right p{

     	text-align: center;
     	font-size: 150%;
     }

     #add_links li{
     	font-size: 150%;
     }

     #add_links{
     	text-align: center;
     }
	
	#jbp1{
	margin-left:0;
}

#jbp2{
	margin-left:0;
}
}

